In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('LOG_Ambiente.csv',sep =";")

In [3]:
df.head()

   Unnamed: 0  temperature_in  temperature  humidity  gas  cenario
0           0              32           23        57  117        1
1           1              32           23        57   97        1
2           2              32           23        58  117        1
3           3              32           23        58   97        1
4           6              32           23        58  127        1

In [4]:
df['cenario'] = 0
df.head()

   Unnamed: 0  temperature_in  temperature  humidity  gas  cenario
0           0              32           23        57  117        0
1           1              32           23        57   97        0
2           2              32           23        58  117        0
3           3              32           23        58   97        0
4           6              32           23        58  127        0

In [5]:
df['cenario'][df['temperature_in'] > 27] = 1
df['cenario'][df['temperature'] < 20] = 1
df['cenario'][df['temperature'] > 24] = 1
df['cenario'][df['humidity'] < 45] = 1
df['cenario'][df['humidity'] > 55] = 1
df['cenario'][df['gas'] > 500] = 1

In [6]:
df[df['cenario'] == 0]

     Unnamed: 0  temperature_in  temperature  humidity  gas  cenario
110        1920              25           21        51  175        0
111        1921              25           21        51  127        0
245        2330              25           22        55  215        0
246        2331              24           22        55  224        0
247        2332              24           22        55  205        0
248        2333              25           22        55  224        0
249        2334              24           22        55  215        0
250        2335              25           22        55  205        0
251        2343              25           22        55  195        0
252        2345              25           22        55  234        0
253        2356              25           22        55  244        0
254        2361              25           22        55  185        0
255        2374              25           22        54  234        0
256        2375              25           22        54  224        0
257        2376              25           22        54  215        0
258        2377              25           22        54  195        0
259        2379              25           22        54  205        0
260        2424              25           22        53  215        0
261        2426              25           22        53  244        0
262        2427              25           22        53  205        0
263        2428              25           22        53  224        0
264        2431              25           22        53  195        0
265        2448              25           22        53  234        0
266        2456              25           22        53  254        0
267        2530              25           21        53  224        0
268        2531              25           21        53  205        0
269        2534              25           21        53  215        0
270        2535              25           21        53  195        0
271        2600              25           22        52  244        0
272        2601              25           22        52  195        0
273        2602              25           22        52  215        0
274        2606              25           22        52  234        0
275        2609              25           22        52  205        0
276        2610              25           22        52  224        0
277        2626              25           21        52  234        0
278        2627              25           21        52  195        0
279        2638              25           21        52  224        0
280        2648              25           21        52  215        0
281        2661              25           21        53  185        0
282        2710              25           21        53  234        0
283        2738              25           21        54  224        0
284        2739              25           21        54  205        0
285        2741              25           21        54  195        0
286        2744              25           21        54  215        0
287        2768              25           21        53  244        0
288        2890              25           21        54  234        0
289        2910              25           21        54  244        0
290        3024              25           21        53  254        0
291        3054              25           21        54  254        0
292        3055              25           21        54  185        0

In [7]:
df.describe()

,Unnamed: 0,temperature_in,temperature,humidity,gas,cenario
count,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000
mean,1639.044369,27.354949,22.071672,59.460751,170.020478,0.829352
std,834.808284,3.922662,0.565852,7.540030,62.618761,0.376845
min,0.000000,24.000000,21.000000,51.000000,68.000000,0.000000
25%,845.000000,24.000000,22.000000,53.000000,107.000000,1.000000
50%,1983.000000,25.000000,22.000000,57.000000,195.000000,1.000000
75%,2200.000000,32.000000,22.000000,66.000000,224.000000,1.000000
max,3055.000000,34.000000,23.000000,74.000000,322.000000,1.000000

In [8]:
df.drop_duplicates(inplace = True)

In [31]:
df.to_csv('LOG_Ambiente.csv',sep =";", index = False)

In [29]:
df.drop('Unnamed: 0', inplace =  True, axis = 1)

In [32]:
df

     temperature_in  temperature  humidity  gas  cenario
2                32           23        58  117        1
3                32           23        58   97        1
4                32           23        58  127        1
5                32           23        58  107        1
6                32           23        58   87        1
7                33           23        58   97        1
8                33           23        58  117        1
9                33           23        58  107        1
10               33           23        58  127        1
11               33           23        58   87        1
12               33           23        58   78        1
13               33           23        58   68        1
14               33           23        57  117        1
15               33           23        57   97        1
16               33           23        57   87        1
17               34           23        57   97        1
18               34           23        57   78        1
19               34           23        57   87        1
20               34           23        57  107        1
21               34           23        57  117        1
22               34           23        57  127        1
24               34           23        56  107        1
25               34           23        56   97        1
26               34           23        56   78        1
27               34           23        56  117        1
28               34           23        56   87        1
29               34           23        55   97        1
30               34           23        55   87        1
31               34           23        55  107        1
33               34           23        55   68        1
..              ...          ...       ...  ...      ...
263              25           22        53  224        0
264              25           22        53  195        0
265              25           22        53  234        0
266              25           22        53  254        0
267              25           21        53  224        0
268              25           21        53  205        0
269              25           21        53  215        0
270              25           21        53  195        0
271              25           22        52  244        0
272              25           22        52  195        0
273              25           22        52  215        0
274              25           22        52  234        0
275              25           22        52  205        0
276              25           22        52  224        0
277              25           21        52  234        0
278              25           21        52  195        0
279              25           21        52  224        0
280              25           21        52  215        0
281              25           21        53  185        0
282              25           21        53  234        0
283              25           21        54  224        0
284              25           21        54  205        0
285              25           21        54  195        0
286              25           21        54  215        0
287              25           21        53  244        0
288              25           21        54  234        0
289              25           21        54  244        0
290              25           21        53  254        0
291              25           21        54  254        0
292              25           21        54  185        0

[287 rows x 5 columns]