In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('LOG_Ambiente.csv',sep =";")
df.head()

   temperature_in  temperature  humidity  gas  cenario
0              32           23        58  117        1
1              32           23        58   97        1
2              32           23        58  127        1
3              32           23        58  107        1
4              32           23        58   87        1

In [11]:
x = df[['temperature_in','temperature','humidity','gas']]
y = df['cenario']

SEED = 2

X_train, X_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.33,
                                                    random_state = SEED)

In [12]:
modelo = KNeighborsClassifier(n_neighbors = 5)
modelo.fit(X_train, y_train)
precisao = modelo.score(X_test, y_test)
print ('taxa de acerto: ',precisao * 100)

taxa de acerto:  94.73684210526315

In [14]:
previsao = modelo.predict([['32','21','42','111']])
previsao

/home/dciot-04/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)
/home/dciot-04/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:563: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  FutureWarning)

array([1])